# Problem 1
Import NumPy under the alias `np`.

In [1]:
import numpy as np

# Problem 2
Import pandas under the alias `pd`.

In [2]:
import pandas as pd

# Problem 3
Given `df1` and `df2` below, concatenate the two DataFrames.

In [3]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
               'B': ['B0', 'B1', 'B2', 'B3'],
               'C': ['C0', 'C1', 'C2', 'C3'],
               'D': ['D0', 'D1', 'D2', 'D3']},
              index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                  'B': ['B4', 'B5', 'B6', 'B7'],
                  'C': ['C4', 'C5', 'C6', 'C7'],
                  'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

In [4]:
#Solution goes here
pd.concat([df1, df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

# Problem 4
Given `df1` and `df2` below, concatenate the two DataFrames along their columns (instead of along their rows).

In [5]:
#Solution goes here
pd.concat([df1, df2], axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7